@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Montserrat:wght@300;400;700&display=swap');
*{
	font-size: 24px;
}

.media{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

.media img {
	margin-left: 35px;
	margin-bottom: 10px;
  width: 450px;
  height: 410px;
  cursor: pointer;
}

body{
	background-image: url(https://images.squarespace-cdn.com/content/v1/6361d2b577928610be283103/1667355328863-H1JLAY919NHFQ4CEWY2E/iStock-157278938.jpg?format=2500w);
	background-size: 100% auto;
	color: #ffffff;
	background-attachment: fixed;
	font-family: 'Cormorant Garamond', serif;
  font-family: 'Montserrat', sans-serif;
	display: inline-block;
	align-content: center;
}
a{
	text-decoration: none;
	color:#ffffff;
	font-family: 'Cormorant Garamond', serif;
  font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 36px;
}
ul{
	list-style: none;
}
